// Theming for Angular Material using Material 3
@use '@angular/material' as mat;

// Include theming using `mat.theme()`.
// This defines CSS variables for Angular Material components.
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,   // pick whichever palette you want
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default application color scheme
  color-scheme: light;

  // Set background, font, and text colors
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
